<!DOCTYPE html>
<md-card-title>
    <md-card-title-text>
        <span class="md-headline">Détail de la venue IEP {{ctrl.v.iep}}</span>
    </md-card-title-text>
</md-card-title>

<md-card-content>
Patient : <a ng-href="#/patients/{{ctrl.p.ipp}}">{{ ctrl.p.prenom }} {{ ctrl.p.nom }}</a>

<md-toolbar class="md-table-toolbar md-default">
    <div class="md-toolbar-tools">
        <span>Liste des mouvements</span>
    </div>
</md-toolbar>
<md-table-container>
    <table md-table md-progress="promise">
      <thead md-head>
        <tr md-row>
          <th md-column>Date</th>
          <th md-column>Service</th>
          <th md-column>Lit</th>
          <th md-column>Type</th>
          <th md-column>Actions</th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row ng-repeat="m in ctrl.v.mouvements | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
          <td md-cell>{{ m.date | date:"dd/MM/yyyy 'à' HH:mm" }}</td>
          <td md-cell>{{ m.service.libelle }}</td>
          <td md-cell><span class="numChambre">{{ m.chambre.numero }}</span><span class="numLit">{{ m.lit.numero }}</span></td>
          <td md-cell class="type">{{ m.entree == true ? 'Entrée' : 'Sortie' }}</td>
          <td md-cell><md-button class="md-icon-button md-primary edit" aria-label="Modifier" ng-click="ctrl.edit(m)"><md-icon>edit</md-icon></md-button> <md-button class="md-icon-button md-accent delete" aria-label="Supprimer" ng-click="ctrl.deleteMouvement(m)"><md-icon>delete</md-icon></md-button></td>
        </tr>
      </tbody>
    </table>
</md-table-container>

<md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{ctrl.v.mouvements.length}}" md-page-select></md-table-pagination>

<md-button class="md-raised md-primary add">Ajouter un mouvement</md-button>

<md-card class="form" style="max-width: 400px; display: none;">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h3>Formulaire de mouvement ({{ctrl.m.entree == true ? 'Entrée' : 'Sortie'}})</h3>
        </div>
    </md-toolbar>
    <md-card-content>
        <form name="mouvement">
            <div layout="row" layout-align="space-between center" class="layout-align-space-between-center layout-row">
                <md-input-container flex="100">
                    <input required mdc-datetime-picker date="true" time="true" type="text" id="datetime" placeholder="Date" show-todays-date cancel-text="Annuler" today-text="Aujourd'hui" ok-text="Valider" ng-model="ctrl.m.date" class="md-input">
                </md-input-container>
            </div>
            <div layout="row" layout-align="space-between center" class="layout-align-space-between-center layout-row">
                <select class="selectService" required name="service" ng-model="ctrl.m.service" ng-options="s as s.libelle for s in ctrl.s track by s.id" style="width:auto;display:none"></select>
                <md-input-container flex="100">
                    <label>Service</label>
                    <md-select class="service" required ng-model="ctrl.m.service" ng-model-options="{trackBy: '$value.id'}">
                        <md-option ng-bind="s.libelle" ng-value="s" ng-repeat="s in ctrl.s"></md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div layout="row" layout-align="space-between center" class="chambres layout-align-space-between-center layout-row">
                <select class="selectChambre" required name="chambre" ng-model="ctrl.m.chambre" ng-options="c as c.numero for c in ctrl.m.service.chambres track by c.id" style="width:auto;display:none"></select>
                <md-input-container flex="100">
                    <label>Chambre</label>
                    <md-select class="chambre" required ng-model="ctrl.m.chambre" ng-model-options="{trackBy: '$value.id'}">
                        <md-option ng-bind="c.numero" ng-value="c" ng-repeat="c in ctrl.m.service.chambres"></md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div layout="row" layout-align="space-between center" class="lits layout-align-space-between-center layout-row">
                <select required name="lit" ng-model="ctrl.m.lit" ng-options="l as l.numero for l in ctrl.m.chambre.lits track by l.id" style="width:auto;display:none"></select>
                <md-input-container flex="100">
                    <label>Lit</label>
                    <md-select class="lit" required ng-model="ctrl.m.lit" ng-model-options="{trackBy: '$value.id'}">
                        <md-option ng-bind="l.numero" ng-value="l" ng-repeat="l in ctrl.m.chambre.lits"></md-option>
                    </md-select>
                </md-input-container>
            </div>
            <input class="type" type="hidden" ng-model="ctrl.m.entree" ng-value="ctrl.m.entree"/>
            <md-button class="md-raised md-primary saveNew" ng-click="ctrl.addMouvement()">Ajouter</md-button>
            <md-button class="md-raised md-primary saveEdit" ng-click="ctrl.editMouvement()">Modifier</md-button>
            <md-button class="md-raised cancel" ng-click="ctrl.cancel()">Annuler</md-button>
        </form>
    </md-card-content>
</md-card>
<script type="text/javascript">
        var date = null;
        var service = null;
        var lit = null;
        $(document).on("click", ".edit", function() {
            $(".edit").hide();
            $(".delete").hide();
            $(".add").hide();
            var clone = $(".form");
            clone.addClass("new");
            clone.show();
            $(".saveNew").hide();
            $(".saveEdit").show();
        });
        $(document).on("click", ".add", function() {
            $(".edit").hide();
            $(".delete").hide();
            $(".add").hide();
            var clone = $(".form");
            clone.addClass("new");
            clone.show();
            $(".saveNew").show();
            $(".saveEdit").hide();
        });
        $(document).on("click", ".cancel", function() {
            $(".edit").show();
            $(".delete").show();
            $(".add").show();
            $(".form").hide();
            $("form")[0].reset();
        });
</script>

<style type="text/css">
    div.md-errors-spacer {
        display: none;
    }
</style>

</md-card-content>